@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto:900|Share+Tech+Mono');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
}

a {
    border-bottom: 1px dotted #555;
    color: #555;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom: 1px solid #555;
    }
}

h1 { 
    font-size: 1.75rem; 
    padding: 0;
    a {
        border: none;
        text-decoration: none;
        text-shadow: 1px 1px 2px #ccc;

        &:visited,
        &:hover,
        &:focus {
            border: none;
            text-shadow: 1px 1px 2px #666;
            text-decoration: none;
        }
    }
}

h2 { font-size: 1.953rem; }

h3 { font-size: 1.563rem; }

h4 { font-size: 1.25rem; }

p, h5 { font-size: 1rem; }

h2.code-header {
    margin: 3rem auto 0 auto;
}


.col-1,
.col-2 {
    float: left;
    width: 45%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

code {
    background: #fff;
    border: 1px solid #666;
    color: #000;
    display: block;
    line-height: 2;
    margin: 1rem 0 0 0;
    padding: .25rem 1rem;
    white-space: pre-wrap;
}

fieldset {
    border: 1px dotted #666;
    margin: 0;
    padding: 1rem;
}

button {
    border-radius: 5px;
    border: 1px solid #666;
    background: #fff;
    font-size: 1rem;
    background: #cecece;
    color: #333;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0.5rem;

    &:hover {
        background: #fff;
    }

    &:disabled {
        background: #333;
        color: #cecece;
    }
}

.collapsible button {
    background: transparent;
    border: none;
    border-bottom: 1px dotted #333;
    padding: 0;
    border-radius: 0;
    display: inline-block;
}

.collapsible button:hover {
    border-bottom: 1px solid #333;
}

.collapsible button::after {
    content: '+';
    margin-left: .5em;
    color: #6D6D6D;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    font-weight: 900;
}

button[aria-expanded="true"]::after {
    content: '-';
}

div[role="alert"] {
    max-width: 40rem;
}

.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.hidden {
    display: none;
}

.center-wrapper {
    text-align: center;

    p {
        text-align: left;
    }

}


.site-wrap {
    @include flexbox();
    @include flex-flow(row wrap);
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 100%;

    > * {
        box-sizing: border-box;
    }
}

.site-wrap > * {
    @include flex(1 0 100%);
}

.skip-link {
    height:1px;
    left:-10000px;
    overflow:hidden;
    position:absolute;
    top:auto;
    width:1px;

	&:focus {
        height: auto;
        position: static;
        width: auto;
	}
}


.site-content {
    @include flex(8 0);
    @include flex-basis(auto);
    @include flex-grow(3);
    @include order(2);
    box-sizing: border-box;
    margin: 0 2rem;
    padding: 1rem 1rem 7rem 1rem;
    min-width: 70vw;
    width: auto;

        dt {
            font-weight: bold;
        }

        #flashes {
            padding: 0;

            &.success-msg {
                background-color: #0f5b3f;
                border-radius: 5px;
                color: #fff;
                clear: both;
                padding: .75em 3.5rem;
            }

            li {
                list-style-type: none;

                &.error-msg {
                    @include error-msg();
                }

                &.msg-deco {
                    display: inline-block;
                    margin: 0;
                    min-width: 0;
                }

                &.success-msg {
                    display: inline;
                }
            }
        }

       #newsletter-form {
            font-family: 'Roboto', sans-serif;
            max-width: 40rem;

            label,
            legend {
                display: block;
                font-family: 'Roboto', sans-serif;
                font-size: 1.25rem;
                font-weight: 800;
                margin: .5rem auto;
            }

            input[type="radio"] + label {
                clear: both;
                display: inline-block;
                margin-right: 1rem;
            }

            input[type="text"],
            input[type="email"] {
                width: 30rem;
                border-radius: 5px;
                border: 1px solid #666;
                font-size: 1.25rem;
                padding: .5rem;
                margin: .5rem auto;
                color: #444;
            }

            #select {
                font-size: 1rem;
                margin: 0;
                padding: 1rem;
                width: 20vw;
            }

            .error-msg {
                @include error-msg();
            }

            button {
                background: #3662B4;
                border: 1px solid #555;
                border-radius: 5px;
                box-shadow: 2px 2px 1px #555;
                clear: both;
                color: #fff;
                display: block;
                font-size: 1.25rem;
                font-weight: 500;
                margin: 1rem 0;
                padding: .5rem;
                position: relative;

                &:hover,
                &:focus {
                    box-shadow: 3px 3px 2px #266294;
                    background: #fff;
                    color: #3662b4;
                    font-weight: 500;
                }
            }
        }

        .slide-nav {
            display: flex;
            align-content: flex-end;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 1rem 0 1rem -2.7rem;
            position: fixed;
            bottom: 6.5rem;
            width: 98%;

            a {
                border-radius: 5px;
                border: 1px solid #666;
                background: #fff;
                font-size: 1rem;
                background: #cecece;
                color: #333;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                padding: 0.5rem;
                text-align: center;

                &:hover {
                    background: #fff;
                }
            }
        }

        .error-header {
            @include error-msg();
        }

        .large {
            font-size: 6rem;
            text-align: center;
        }
}

.site-footer {
    @include flex(12 0 100%);
    @include order(4);
    background: #fff;
    bottom: -25px;
    font-size: .8em;
    height: 3.2rem;
    left: 0;
    padding: .25rem 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;

    p {
        line-height: 1;
        margin: 0;
    }
}

.site-header {
    @include flex(12 0 100%);
    @include order(1);
    border-bottom: 1px solid #bbb;
    margin: 0 auto 1rem auto;
    padding: 0 .5rem .5rem .5rem;
    width: 100%;

    h1 {
        margin: 0 auto;
    }
}


.site-sidebar {
    @include flex(5 25%);
    @include flex-grow(0)
    @include order(3);
    background: #fff;
    border-top: 1px solid #999;
    bottom: 2rem;
    justify-content: flex-start;
    justify-self: flex-end;
    left: 0;
    align-self: flex-end;
    margin-right: 1rem auto;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem auto 0 auto;
    padding:1rem 0 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    nav {
        display: flex;
        flex-flow: column wrap;
        height: .5rem;
        justify-content: space-between;
        position: absolute;
        left: -999999px;
    }

    &:hover,
    &.active {
        height: 5rem;

        nav {
            left: 0;
            top: 0;
            position: relative;

            ol {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-content: flex-start;
                justify-content: flex-start;

                li {
                    align-self: flex-start;
                    align-self: flex-start;
                    counter-increment: step-counter;
                    justify-content: flex-start;
                    justify-self: flex-start;
                    line-height: 1;
                    margin: 0;
                    min-width: 8em;



                    a {
                        align-self: flex-start;
                        border: none;
                        color: #555;
                        font-weight: bold;
                        justify-self: flex-start;
                        text-decoration: none;
                        font-size: 1rem;
                        line-height: 1rem;
                        text-align: left;


                        &::before {
                            color: #aaa;
                            content: counter(step-counter);
                            display: block;
                            float: left;
                            font-family: 'Share Tech Mono', monospace;
                            font-weight: 700;
                            font-size: 1.953rem;
                            line-height: 1rem;
                            margin-right: .7rem;
                            margin-top: .5rem;
                            min-height: 2rem;
                            position: relative;
                            top: 0.2rem;
                        }


                        .site-sidebar nav ol li a::before {
                            color: #aaa;
                            content: counter(step-counter);
                            display: inline-block;
                            font-family: 'Share Tech Mono', monospace;
                            font-weight: 700;
                            font-size: 1.953rem;
                            line-height: 1;
                            margin-right: .7rem;
                            margin-top: .5rem;
                            position: relative;
                            top: 0;
                        }

                        &:hover,
                        &:focus,
                        &[aria-current] {
                            color: #000;
                            text-shadow: 1px 1px 2px rgba(0,0,0,.25);
                            &::before {
                                text-shadow: none;
                                color: #333;
                            }
                        }


                    }
                }
            }
        }
    }
}

div[id^="panel"] {
    padding: 1rem;
}

@media (max-width: 980px) {
    .site-content {
        @include order(2);
        width: 100%;

        > * {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .site-wrap {
        padding: 0 1rem;

        > * {
            margin: 0;
        }
    }

    .site-header {
        @include order(1);
    }

    .site-content {
        @include order(2);

        * {
            box-sizing: border-box;
            min-width: 100%;
        }

        .slide-nav {
            flex-flow: row wrap;
        }

        fieldset label,
        input[type="checkbox"],
        input[type="radio"] {
            min-width: 0;
        }
    }

    .site-sidebar {
        @include order(3);
        margin: 1rem auto;
        padding: 0;
        width: auto;

        nav ol li a {
            &::before {
                font-size: 2.5rem;
                top: .3rem;
            }
        }
    }

    code {
        font-size: 2.6vw;
    }
}
