{% extends "layout.html" %}
    {% block header %}
    {% endblock %}
    {% block content %}
    <div id="panel-one" class="current" tabindex="-1">
        <h2>What is Flask?</h2>
        <p>Flask is a python micro framework for building web applications. It depends on Werkzeug and Jinja, which leads us to...</p>
        <h3>What is Jinja?</h3>
        <p>Jinja, or sometimes Jinja2, is a templating engine that makes it easier to build consistent sites and applications while embedding python where we need to. This allows us to reuse code without rewriting every time.</p>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
