{% extends "layout.html" %}
    {% block header %}
    {% endblock %}
    {% block content %}
    <h2>Resources</h2>
    <div id="panel-one" class="current" tabindex="-1">
        <h3>Learning about Accessibility</h3>
        <ul>
            <li><a href="https://www.microsoft.com/en-us/design/inclusive">Inclusive Design at Microsoft:</a> https://www.microsoft.com/en-us/design/inclusive</li>
            <li><a href="http://inclusivedesignprinciples.org">Inclusive Design Principles:</a> http://inclusivedesignprinciples.org</li>
            <li><a href="http://designresources.party/#a11y">Design Resources:</a> http://designresources.party/#a11y</li>
            <li><a href="https://www.w3.org/WAI/WCAG20/quickref/">How to Meet WCAG 2.0 Quickref:</a> https://www.w3.org/WAI/WCAG20/quickref/</li>
        </ul>
    </div>
    <div id="panel-two" class="hidden" tabindex="-1">
        <h3>Developer Resources</h3>
        <ul>
            <li><a href="https://ibma.github.io/Va11yS/">Va11yS:</a> https://ibma.github.io/Va11yS/</li>
            <li><a href="https://inclusive-components.design">Inclusive Components:</a> https://inclusive-components.design</li>
            <li><a href="http://a11y-style-guide.com/style-guide/">A11y Style Guide:</a> http://a11y-style-guide.com/style-guide/</li>
            <li><a href="http://www.html5accessibility.com">HTML5 Accessibility:</a> http://www.html5accessibility.com</li>
        </ul>
    </div>
    <div id="panel-three" class="hidden" tabindex="-1">
        <h3>Thanks!</h3>
    </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
