{% extends "layout.html" %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div id="panel-one" class="current" tabindex="-1">
            <h2>As a reminder...</h2>
            <code class="code-wrapper">
class OneBigClunkyValidator(Form):
    email = EmailField(...)
    checkbox = BooleanField(...)
    radio = RadioField(...)
    select = SelectField(...)
            </code>
        </div>
        <div id="panel-two" class="hidden" tabindex="-1">
            <h2>Passing to Jinja</h2>
            <code class="code-wrapper">
# In routes.py
from app.forms import EmailOnlyForm, EmailAndCheckboxForm, EmailCheckboxRadioSelectForm

# Now we can pass around these validators to templates
            </code>
        </div>
        <div id="panel-three" class="hidden" tabindex="-1">
            <h2>Passing to Jinja</h2>
            <code class="code-wrapper">
@app.route('/slide-9/', methods=[GET])
def slide_9():
    <strong><em>form = EmailCheckboxRadioSelectForm(request.form)</em></strong>
    return render_template('slide9.html', <strong><em>form=form</em></strong>)
            </code>
        </div>
        <div id="panel-four" class="hidden" tabindex="-1">
            <h2>Passing to Jinja</h2>
            <code class="code-wrapper">
@app.route('/slide-8/', methods=[POST])
def post_slide_8():
    <strong><em>form = EmailCheckboxRadioSelectForm(request.form)</em></strong>
    <strong><em>if form.validate():</em></strong>
        flash(u'(☞ﾟヮﾟ)☞', 'decoration')
        flash(u'Thanks for registering with us! Look in your email for a confirmation!', 'success')
    else:
        flash(u'Please correct the errors highlighted below', 'error')
        return render_template('slide8.html', <strong><em>form=form</em></strong>)
            </code>
        </div>
        <div id="panel-five" class="hidden" tabindex="-1">
            <h2>But what if it's not specific to the form?</h2>
            <ul>
                <li>How to solve for non-specific errors?</li>
                <li><strong>Message flashing:</strong> provides a way to give a generic message</li>
                    <ul>
                        <li>Rendering works like macros</li>
                        <li>Can be used to denote things beyond errors via categories</li>
                        <li><strong>Requires sessions to be set up</strong></li>
                    </ul>
            </ul>
        </div>
        <div id="panel-six" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{% with messages = get_flashed_messages(with_categories=true) %}
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-seven" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{% if messages %}
    &lt;div <strong><em>role="alert"</em></strong>&gt;
        &lt;ul id="flashes"&gt;
            {% for category, message in messages %}
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-eight" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{% if category == 'error' %}
    &lt;li class="error-msg"&gt;
        {{ message }}
    &lt;/li&gt;
            {%- endraw -%}
            </code>
        </div>
        <div id="panel-nine" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{% elif category == 'success' %}
    &lt;li class="success-msg"&gt;
        {{ message }}
    &lt;/li&gt;
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-ten" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
    {% else %}
        &lt;li&gt;
            {{ message }}
        &lt;/li&gt;
    {% endif %}
{% endfor %}
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-eleven" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{# For errors #}
&lt;div <strong><em>role="alert"</em></strong>&gt;
    &lt;ul id="flashes"&gt;
        &lt;li class="error-msg"&gt;
            Please correct the errors highlighted below
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-twelve" class="hidden" tabindex="-1">
            <h2>Message flashing</h2>
            <code class="code-wrapper">
                {%- raw -%}
{# For success #}
&lt;div <strong><em>role="alert"</em></strong>&gt;
    &lt;ul id="flashes"&gt;
        &lt;li class="success-msg"&gt;
            Thanks for registering with us! Look in your email for a confirmation!
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
                {%- endraw -%}
            </code>
        </div>
        <div id="panel-thirteen" class="hidden" tabindex="-1">
            <h2>Put it all together</h2>
            {% from 'macros/render_flashes.html' import render_flashes as rf %}
            {{ rf() }}
            <form id="newsletter-form" method="post" action="" role="form" aria-label="Newsletter form">
                {% from 'macros/form_helpers.html' import render_inputs as build %}
                {% for field in form %}
                    {{ build(field, autocomplete='off', **{'aria-required':'true','aria-invalid':'true','aria-describedby':field.id+'-error'}) }}
                {% endfor %}

                <button type="submit">Sign me up!
                    <span aria-hidden="true">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</span>
                </button>
            </form>
        </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
